.event_card {
    cursor: pointer;
}

@keyframes trigger {
    0% {
        background-color: #8bc34a;
        color: #212121;
    }

    100% {
        background-color: #212121;
        color: #FFFFFF;
    }
}
