.events_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.event_card.active {
    color: #212121;
    background-color: #8bc34a;
    border: none;
}

.event_card .timestamp, .event_page .timestamp {
    font-weight: thin;
    font-size: 25px;
    color: #FFFFFF;
}

.event_page .event_name {
    padding: 20px;
    border-bottom: 1px solid #424242;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.event_page .event_name.active {
    color: #212121;
    background-color: #8bc34a;
}

.event_page .event_name .event_name_change {
    display: flex;
    gap: 5px;
}

.event_page .event_name .event_name_change img {
    width: 30px;
    cursor: pointer;
}

.event_page .event_name .event_name_change input {
    border: none;
    background-color: #212121;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 10px;
    width: 100%;
}

.event_page .event_control {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event_page .event_control h4 {
    margin-top: 20px;
}

.event_page .big_button {
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #212121;
    color: #FFFFFF;
    border: 1px solid #424242;
}

.event_page .big_button.active {
    border: none;
    background-color: #8bc34a;
    color: #212121;
}

.time_selector {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.time_selector input {
    width: 100%;
}

.weekday_selector {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.weekday_selector_button {
    background: none;
    border: 1px solid #424242;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.weekday_selector_button.active {
    color: #212121;
    background-color: #8bc34a;
    border: 1px solid transparent;
}

/* Action data input */
.action_data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.action_data .column_names {
    display: flex;
    justify-content: space-between;
}

.action_data .action_data_row {
    display: flex;
    gap: 5px;
}

.action_data .action_data_row input {
    width: 100%;
    border: 1px solid #424242;
    border-radius: 3px;
    background: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 3px 10px;
}

.action_data .action_data_row input:focus {
    border-radius: 3px 3px 0px 0px;
    border: 1px solid orange;
}

.big_button.delete {
    background-color: rgb(255, 35, 35);
    border: none;
}