header {
    background-color: #1b1b1b;
    color: white;
    padding: 10px 20px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

header nav ul li {
    font-weight: bold;
}

#desktop_menu {
    display: none;
}

#mobile_menu {
    display: flex;
}

#mobile_menu img {
    width: 30px;
    cursor: pointer;
}

#mobile_menu #mobile_ul {
    background-color: #212121;
    padding: 20px;
    position: absolute;
    top: 40px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #424242;
}

#mobile_menu #mobile_ul ul {
    flex-direction: column;
    font-size: 20px;
}

@media only screen and (min-width: 600px) {
    header {
        padding: 20px 50px;
    }
    #desktop_menu {
        display: flex;
    }
    #mobile_menu {
        display: none;
    }
}